In [1]:
import psycopg2
redshift_endpoint = "redshift-cmsop.c88fy8ndcs2s.us-east-2.redshift.amazonaws.com"
redshift_user = "cmsuser"
redshift_pass = "Udacity1"
port = 5439
dbname = "cmsop"

In [3]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" \
% (redshift_user, redshift_pass, redshift_endpoint, port, dbname)
engine = create_engine(engine_string)

In [7]:
sql = """
select phys_id, phys_lname, phys_fname, phys_st, tot_amt_inv
from physicians
group by phys_id, phys_lname, phys_fname, phys_st, tot_amt_inv
order by tot_amt_inv desc
limit 20
"""

In [8]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(Decimal('1315076'), 'Lopez', 'George', 'CA', Decimal('276759911.11')),
 (Decimal('286115'), 'MOLL', 'FREDERIC', 'CA', Decimal('84460265.67')),
 (Decimal('355094'), 'Steinmann', 'John', 'CA', Decimal('6718139.00')),
 (Decimal('40822'), 'Chao', 'Michael', 'CA', Decimal('6000000.00')),
 (Decimal('52496'), 'Jackson', 'Frank', 'PA', Decimal('4750000.00')),
 (Decimal('342101'), 'FREEMAN', 'JOHN', 'TN', Decimal('4186000.00')),
 (Decimal('221546'), 'FREEMAN', 'JAMES', 'TN', Decimal('4186000.00')),
 (Decimal('411850'), 'Cirksena', 'William', 'MD', Decimal('3300000.00')),
 (Decimal('245560'), 'Scheker', 'Luis', 'KY', Decimal('2577614.00')),
 (Decimal('164611'), 'Chaitoff', 'Jeffrey', 'OH', Decimal('2294231.00')),
 (Decimal('208331'), 'Spayde', 'Erik', 'CA', Decimal('2000000.00')),
 (Decimal('142810'), 'Schwartz', 'Arnold', 'NY', Decimal('1793790.14')),
 (Decimal('576530'), 'Anderson', 'David', 'PA', Decimal('1750000.00')),
 (Decimal('282793'), 'Sung', 'Roger', 'CO', Decimal('1550000.00')),
 (Decimal('298211'), 'Edwards', 'Charles', 'MD', Decimal('1522451.11')),
 (Decimal('264114'), 'BARKER', 'STEVEN', 'AZ', Decimal('1514623.35')),
 (Decimal('925891'), 'Schaffer', 'Derace', 'FL', Decimal('1502539.05')),
 (Decimal('622837'), 'Kovalchik', 'Michael', 'CT', Decimal('1464130.94')),
 (Decimal('476987'), 'Matta', 'Joel', 'CA', Decimal('1350000.00')),
 (Decimal('201543'), 'Goldberg', 'Steven', 'FL', Decimal('1291658.43'))]

In [13]:
sql = """
select sub_mfg_id, sub_mfg_name, tot_amt_inv
from physicians
group by sub_mfg_id, sub_mfg_name, tot_amt_inv
order by tot_amt_inv desc
limit 10
"""

In [14]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(Decimal('100000010657'), 'ICU Medical Inc', Decimal('276759911.11')),
 (Decimal('100000226828'), 'Auris Health, Inc.', Decimal('84460265.67')),
 (Decimal('100000005426'), 'Renovis Surgical Technologies, Inc.', Decimal('6718139.00')),
 (Decimal('100000010807'), 'Parsolex GMP Center, Inc.', Decimal('6000000.00')),
 (Decimal('100000076364'), 'GI Supply, Inc.', Decimal('4750000.00')),
 (Decimal('100000041242'), 'Grace Medical, Inc.', Decimal('4186000.00')),
 (Decimal('100000071358'), 'Vapotherm Inc', Decimal('3300000.00')),
 (Decimal('100000010554'), 'Aptis Medical, LLC', Decimal('2577614.00')),
 (Decimal('100000151627'), 'SPR Therapeutics, Inc', Decimal('2294231.00')),
 (Decimal('100000196812'), 'AxioMed LLC', Decimal('2000000.00'))]

In [17]:
sql = """
select ndc1, count(ndc1)
from research
where ndc1 <> ''
group by ndc1
order by count(ndc1) desc
limit 10
"""

In [18]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[('0006-3029-02', 34332),
 ('64678-211-01', 25070),
 ('0597-0152-30', 11730),
 ('62856-710-30', 8525),
 ('0074-0038-28', 6271),
 ('0069-0187-21', 4974),
 ('0051-8462-33', 4936),
 ('0024-5914-01', 4850),
 ('0093-3607-82', 4188),
 ('65597-406-01', 4139)]