In [1]:
import psycopg2
redshift_endpoint = "redshift-cmsop.c88fy8ndcs2s.us-east-2.redshift.amazonaws.com"
redshift_user = "cmsuser"
redshift_pass = "Udacity1"
port = 5439
dbname = "cmsop"

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" \
% (redshift_user, redshift_pass, redshift_endpoint, port, dbname)
engine = create_engine(engine_string)

In [3]:
sql = """
select count(distinct phys_id)
from physicians
"""

In [4]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(2225,)]

In [5]:
sql = """
select count(distinct record_id)
from payments
"""

In [6]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(10367307,)]

In [7]:
sql = """
select count(distinct record_id)
from research
"""

In [8]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(613579,)]

In [9]:
sql = """
select count(*)
from physicians
where record_id is null
"""

In [10]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(0,)]

In [11]:
sql = """
select count(*)
from payments
where record_id is null
"""

In [12]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(0,)]

In [13]:
sql = """
select count(*)
from research
where record_id is null
"""

In [14]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(0,)]

In [15]:
sql = """
select phys_id, record_id, tot_amt_inv
from physicians
limit 5
"""

In [16]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(Decimal('122203'), Decimal('623627961'), Decimal('0.00')),
 (Decimal('16225'), Decimal('623627965'), Decimal('0.00')),
 (Decimal('67052'), Decimal('623627969'), Decimal('0.00')),
 (Decimal('80815'), Decimal('623627973'), Decimal('0.00')),
 (Decimal('241735'), Decimal('623627977'), Decimal('0.00'))]

In [17]:
sql = """
select record_id, phys_id, tot_pmt
from payments
limit 5
"""

In [18]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(Decimal('618989349'), Decimal('3362255'), Decimal('11.99')),
 (Decimal('618989357'), Decimal('1332318'), Decimal('11.99')),
 (Decimal('618989365'), Decimal('1827953'), Decimal('11.99')),
 (Decimal('618989373'), Decimal('1033404'), Decimal('14.88')),
 (Decimal('618989381'), Decimal('867359'), Decimal('11.99'))]

In [19]:
sql = """
select record_id, teach_hosp_id, phys_id, tot_pmt
from research
limit 5
"""

In [20]:
tables = []
output = engine.execute(sql)
for row in output:
    tables.append(row)
tables

[(Decimal('692970101'), Decimal('7516'), None, Decimal('414.38')),
 (Decimal('670009703'), None, Decimal('148409'), Decimal('4013.75')),
 (Decimal('666476485'), Decimal('8013'), None, Decimal('231.00')),
 (Decimal('654240623'), Decimal('8336'), None, Decimal('3961.16')),
 (Decimal('692971661'), Decimal('8616'), None, Decimal('44.53'))]